# Godot 4+ specific ignores
.godot/
/android/
.DS_Store
export.zip
exports.zip
export/
exports/
!exports/
!exports/zensnake.xcodeproj/
!exports/zensnake.xcodeproj/**
*.zip
.vscode/settings.json
*.tmp
